.icomoon-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    cursor: pointer;
    flex-shrink: 0;
}

.icomoon-box {
    display: flex;
}

.icomoon-list .icomoon-icon {
    padding: 1em;
}

.icomoon-list .icomoon-icon:hover {
    background: #f9f9fa;
}
